[Desktop Entry]
Name=Alpine (Black Box)
GenericName=Blackbox entering Alpine
Comment=Blackbox entering Alpine
Categories=Distrobox;System;Utility
Exec=/usr/bin/flatpak run com.raggesilver.BlackBox --command "/usr/bin/distrobox enter alpine"
Icon=/home/alberto/.local/share/icons/distrobox/alpine.png
Keywords=distrobox;
NoDisplay=false
Terminal=false
TryExec=/usr/bin/distrobox
Type=Application
