[Desktop Entry]
Name=Clear (Black Box)
GenericName=Blackbox entering Clear
Comment=Blackbox entering Clear
Categories=Distrobox;System;Utility
Exec=/usr/bin/flatpak run com.raggesilver.BlackBox --command "/usr/bin/distrobox enter clear"
Icon=/home/alberto/.local/share/icons/distrobox/clear--os.png
Keywords=distrobox;
NoDisplay=false
Terminal=false
TryExec=/usr/bin/distrobox
Type=Application
