[Desktop Entry]
Name=Arch (Black Box)
GenericName=BlackBox entering Arch
Comment=BlackBox entering Arch
Categories=Distrobox;System;Utility
Exec=/usr/bin/flatpak run com.raggesilver.BlackBox --command "/usr/bin/distrobox enter arch"
Icon=/home/alberto/.local/share/icons/distrobox/arch.png
Keywords=distrobox;
NoDisplay=false
Terminal=false
TryExec=/usr/bin/distrobox
Type=Application
